@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-primary: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  --main-col-blue: #027cb0;
  --color-paragraph: #2b3540;
  --color-gradient-dark: rgb(33, 53, 71);
  --color-gradient-dark-opacity: #02161f70;
  --footer-dark: #021c2b;
  --footer-blue: #063956;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(223, 223, 223);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gradient-dark);
}
/* General Reset */

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-primary);
}

p {
  line-height: 27px !important;
}

li,
a,
span {
  text-decoration: none;
  font-family: var(--font-primary);
  color: var(--color-paragraph);
  list-style: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: fit-content;
}

.menu,
.close {
  z-index: 100000;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 3%;
  right: 5%;
}

.menu img,
.close img {
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}

[data-visible="true"] {
  transform: translateY(0%) !important;
}

mark {
  background-color: transparent;
  color: var(--main-col-blue);
}

.hero-section nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--footer-dark);
  transform: translateY(-100%);
  z-index: 100;
}
nav .logo {
  margin: 1rem auto;
  color: #fff;
}

nav ul {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

nav ul li {
  padding: 0.6rem;
}

nav ul li a,
.logo a {
  color: #fff;
}

nav ul li:last-child {
  border-radius: 6px;
  border: 1px solid rgb(223, 223, 223);
  margin-left: 1rem;
}

nav ul li a:hover {
  color: var(--main-col-blue);
}

.text-box {
  padding-block: 1rem;
  width: 100%;
  margin-inline: auto;
}

.text {
  padding: 2rem;
  margin-top: calc(3% + 50px);
  width: 100%;
}

.text h1 {
  font-size: 36px;
  color: var(--color-gradient-dark);
  padding-block: 0.6rem;
}

.text p {
  padding-block: 0.5rem;
  font-size: 18px;
}

main {
  width: 100vw;
  height: fit-content;
}

.careers-container {
  width: 100%;
  padding: 0.8rem;
  display: grid;
  gap: 2rem;
  place-items: center;
}

.card {
  aspect-ratio: 1/1;
  width: min(100%, 450px);
  border: 1px solid rgb(218, 218, 218);
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card .card__image {
  flex: 1;
  position: relative;
  width: 100%;
  height: 50%;
  background-color: rgb(229, 243, 250);
  padding: 0.6rem;
  overflow: hidden;
}

.card .card__image img {
  position: absolute;
  margin: auto;
  object-fit: contain;
  object-position: center;
  width: 80%;
  height: 80%;
  transform: scale(1.5, 1.5);
  transition: all 300ms ease-in-out;
}

.card .card__image img:hover {
  transform: scale(1, 1);
}

.card .card__text {
  width: 100%;
}

.card .card__text h1 {
  color: var(--color-gradient-dark);
  font-size: 20px;
  padding: 0.6rem 1rem;
  font-weight: 400;
}

.card .card__text p {
  padding-left: 1rem;
  margin-bottom: 0.4rem;
  font-size: 16px;
}

.card .card__text p a {
  color: rgb(122, 122, 122);
  border-bottom: 1px solid rgb(122, 122, 122);
}

.card .card__text p a:hover {
  color: var(--main-col-blue);
  border-bottom: 1px solid var(--main-col-blue);
}

footer {
  width: 100vw;
  background-color: rgb(243, 244, 246);
}
.contain-contact {
  display: grid;
  width: 100%;
}

.address {
  padding: 1rem;
  margin-block: 1rem;
}

.address h2 {
  color: rgba(63, 63, 63, 0.781);
  margin-top: 0.8rem;
  text-align: center;
}

.address ul li {
  margin: 0.5rem 0;
  text-align: center;
}

.contact .address li,
.address li a {
  color: rgb(155, 155, 155);
}

.address li a:hover {
  color: var(--footer-dark);
}

@media (min-width: 500px) {
  .menu,
  .close {
    display: none;
  }

  .hero-section nav {
    position: relative;
    transform: translateY(0);
    height: 5.5rem;
    flex-direction: row;
    border: 1px solid rgb(192, 191, 191);
    background-color: rgba(255, 255, 255, 01);
    transform: translateY(0%);
    width: 100vw;
  }

  nav .logo {
    margin-block: auto;
  }

  nav ul {
    margin-block: auto;
    margin-inline: auto;
    flex-direction: row;
    display: inline-flex;
  }

  nav ul li a,
  .logo a {
    color: #02161f;
  }

  .text {
    margin-top: 0;
  }

  .careers-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .address ul li,
  .address h2 {
    text-align: left;
  }
}

@media (min-width: 850px) {
  .careers-container {
    width: 80%;
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .card .card__text h1 {
    font-size: 24px;
  }
  .contain-contact {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .text-box {
    width: 80%;
    margin-inline: auto;
  }

  .text h1 {
    font-size: 42px;
  }

  .contain-contact {
    max-width: 1150px;
    margin-inline: auto;
  }
}

@media (min-width: 1400px) {
  main,
  .hero-section {
    max-width: 1300px;
    margin-inline: auto;
  }

  .text {
    margin-top: 6rem;
  }

  .careers-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .hero-section nav {
    position: absolute;
    left: 0;
    top: 0;
  }
}
